<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!--Loading the static directory-->
    {% load static %}

    <h1>EXAMPLE HTML CONNECTED!</h1>
    <h1 style="background: aqua, padding: 5px 15px">
      <a
        style="
          background-color: yellow;
          padding: 5px 15px;
          text-decoration: none;
        "
        href="{% url 'my_app:variable' %}"
        >GO TO VARIABLE HTML</a
      >
    </h1>

    <h1 style="background: aqua, padding: 5px 15px">
      <a
        style="background-color: pink; padding: 5px 15px; text-decoration: none"
        href="{% url 'home' %}"
        >GO TO HOME PAGE</a
      >
    </h1>

    <h1 style="background: aqua, padding: 5px 15px">
      <a
        style="
          background-color: green;
          padding: 5px 15px;
          text-decoration: none;
        "
        href="{% url 'my_app:extended' %}"
        >GO TO EXTENDED HTML</a
      >
    </h1>
    <div>
      <img src="{% static 'my_app/messi.jpg' %}" />
    </div>
  </body>
</html>
