<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>HOME HTML CONNECTED!</h1>
    <h1 style="background: aqua, padding: 5px 15px">
      <a
        style="
          background-color: yellow;
          padding: 5px 15px;
          text-decoration: none;
        "
        href="{% url 'my_app:variable' %}"
        >GO TO VARIABLE HTML</a
      >
    </h1>

    <h1 style="background: aqua, padding: 5px 15px">
      <a
        style="background-color: aqua; padding: 5px 15px; text-decoration: none"
        href="{% url 'my_app:example' %}"
        >GO TO EXAMPLE HTML</a
      >
    </h1>
  </body>
</html>
