<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Varible.html Connected!</h1>
    <h2>
      Her first name is <span style="color: red">{{first_name}}</span> and her
      last name is <span style="color: red">{{last_name}}</span>
    </h2>

    <!-- indexing in JINJA -->
    <h2>{{some_list.0}}</h2>

    <!-- Dictionary in JINJA -->
    <h2>{{some_dict.inside_key}}</h2>

    <!-- Comments in JINJA -->
    <h2>{# This is a comment in Django templates #}</h2>

    {% comment %} Filters in JINJA {% endcomment %}
    <h2>{{first_name | upper}}</h2>
    <h2>The length of some_list is {{some_list | length}}</h2>

    {% comment %} Stacking Filters {% endcomment %}
    <h2>{{first_name | lower | capfirst}}</h2>

    <!-- Django Tags -->
    <h2>Using the for loop on some_list</h2>
    <ul>
      {%for item in some_list%}
      <li>{{item}}</li>
      {%endfor%}
    </ul>

    <h2>Using the for loop on some_dict</h2>
    <ul>
      {%for k,v in some_dict.items %}
      <li>{{k}}: {{v}}</li>
      {%endfor%}
    </ul>
  </body>
</html>
